services:
  # --- Servicio 1: Base de Datos PostgreSQL ---
  - type: pserv
    name: unieats-db
    plan: free

  # --- Servicio 2: Aplicación Spring Boot con Docker ---
  - type: web
    name: unieats-app
    plan: free
    runtime: docker
    dockerfilePath: ./Dockerfile

    envVars:
      # --- Variables de conexión a la BD ---
      - key: SPRING_DATASOURCE_URL
        fromDatabase:
          name: unieats-db
          property: connectionString

      - key: SPRING_DATASOURCE_USERNAME
        fromDatabase:
          name: unieats-db
          property: user

      - key: SPRING_DATASOURCE_PASSWORD
        fromDatabase:
          name: unieats-db
          property: password

      # --- Variables manuales de correo ---
      - key: MAIL_USERNAME
        sync: false
      - key: MAIL_PASSWORD
        sync: false
